@import 'tailwindcss';
@plugin '@tailwindcss/typography';
/* 修正：none をダブルクォーテーションで囲みます */
@source 'none';

/* 2. Tailwind を適用したい特定の path を指定 */
@source './page.tsx';
@source './layout.tsx';
@source './_components/**/*.{js,ts,jsx,tsx,mdx}';
@source './article/**/*.{js,ts,jsx,tsx,mdx}';
@source './page/**/*.{js,ts,jsx,tsx,mdx}';
@source './post/**/*.{js,ts,jsx,tsx,mdx}';
@source './tag/**/*.{js,ts,jsx,tsx,mdx}';

/* 3. ダークモードの追加設定 */
@theme {
  --variant-dark: .dark &;
  --max-width: 1140px;
  --border-color: #e2e8f0;
  --primary-color: #2563eb;
  --footer-color: #64748b;
}
